/* Celular */
@media screen and (min-width: 0) {
    
    .principaisMeiosdeInvestimento_titulo {
        font-size: 1rem;
        font-weight: 100;
        font-family:'Press Start 2P', cursiva;
        color: #173503;

    }
    
    .principaisMeiosdeInvestimento_titulo::before {
        display: inline-block;
        height: 24px;
        width: 16px;
        position: relative;
        left: -8px;
        bottom: -2px;
    }
    .principaisMeiosdeInvestimento {
        position: relative;
        padding-top: 80px;
        text-align: center;
    }
    

}


/* Tablet */
@media screen and (min-width: 744px) {
    .principaisMeiosdeInvestimento_titulo {
        font-size: 1.5rem;
        font-family:'Press Start 2P', cursiva;
        color: #173503;


    }

    .principaisMeiosdeInvestimento_titulo::before {
        height: 43px;
        width: 30px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .principaisMeiosdeInvestimento {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

}


/* Desktop */
@media screen and (min-width: 1024px) {
    .principaisMeiosdeInvestimento_titulo {
        font-family:'Press Start 2P', cursiva;
        font-size: 2rem;
        color: #173503;

    }
}

