/* Celular */
@media screen and (min-width: 0) {

    .rendaFixa_cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin-bottom: 2rem;

    }

    .rendaFixa__card {
        border: 6px solid #6FB272;
        background-color: var(--branco);
        width: 250px;
        margin-bottom: 30px;
        border-radius: 35px;
        text-align: center;
        padding: 20px 12px;
        font-family: Poppins;
        transition: 0.8s ease all;
    }

    .rendaFixa__card:hover {
        transform: scale(1.08);
        box-shadow: 0px 6px 8px rgba(200, 178, 216, 0.16);
    }

    .rendaFixa__card-principal {
        border: 6px solid #173503;
    }

    .rendaFixa__card-principal--LCI {
        background: url(../../img/principaisMeiosdeInvestimento/LCI.svg) no-repeat center;
        height: 115px;
    }

    .rendaFixa__card-secundario--CDB {
        background: url(../../img/principaisMeiosdeInvestimento/CDB.svg) no-repeat center;
        height: 115px;
    }

    .rendaFixa__card-secundario--tesouroDireto {
        background: url(../../img/principaisMeiosdeInvestimento/tesouroDireto.svg) no-repeat center;
        height: 115px;
    }

    .rendaFixa__card--titulo {
        font-family:'Poppins', sans-serif;
        color: #6FB272;
        font-weight: 600;
        font-size: 1.1rem;
        margin: 1px 0;
    }

    .rendaFixa__card-principal--titulo {
        color: var(--roxo);
        font-size: 14px;
    }
   
}


/* Tablet */
@media screen and (min-width: 744px) {
    .rendaFixa_cards {
        flex-direction: row;
        /* align-items: flex-end; */
        justify-content: center;
        border-radius:  3.5rem;
        margin-bottom: 3rem;
    }

    .rendaFixa__card {
        width: 19rem;
        margin: 10px;
    }

    .rendaFixa__card-principal {
        /* height: 25rem; */
    }

    .rendaFixa__card-principal--LCI {
        background-size: contain;
        height: 88px;
    }

    .rendaFixa__card-secundario--CDB,
    .rendaFixa__card-secundario--tesouroDireto {
        background-size: contain;
        height: 72px;
    }

    .rendaFixa__card--titulo {
        font-family:'Poppins', sans-serif;
        font-size: 1.2rem;
    }

    .rendaFixa__card-principal--titulo {
        font-size: 18px;
    }

}



/* Desktop */
@media screen and (min-width: 1024px) {
    .rendaFixa__card {
        width: 21rem;
        margin: 2   0px;
        height: 28rem;
        border-width: 8px;
        border-radius: 3.5rem;
        padding-top: 32px;
    }

    .rendaFixa__card-principal {
        height: 34rem;
        width: 21rem;
        margin:20px;
        border-width: 7px;
        border-radius: 3.5rem;
        padding-top: 32px;
    }

    .rendaFixa__card-principal--LCI {
        height: 120px;
    }

    .rendaFixa__card-secundario--CDB,
    .rendaFixa__card-secundario--tesouroDireto {
        height: 100px;
    }

    .rendaFixa__card--titulo {
        font-family:'Poppins', sans-serif;
        font-size: 1.5rem;
        margin-top: 28px;
        margin-bottom: 5px;
    }

    .rendaFixa__card-principal--titulo {
        font-size: 22px;
    }

}
