/* Celular */
@media screen and (min-width: 0) {
    .rendaVariavel_titulo{
        font-family:'Poppins', sans-serif;
        font-size: 1.3rem;
        color: #42A146;
        text-align: center;
        padding: 2rem;
        font-weight: bold;


    }

}

/* Tablet */
@media screen and (min-width: 744px) {
    .rendaVariavel_titulo{
        font-family:'Poppins', sans-serif;
        font-size: 1.5rem;
        color: #42A146;
        text-align: center;
        padding: 3rem;
        font-weight: bold;


    }
    
    
    
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .rendaVariavel_titulo{
        font-family:'Poppins', sans-serif;
        font-size: 2rem;
        color: #42A146;
        text-align: center;
        padding: 4rem;
        font-weight: bold;

    }
   
}