html {
    scroll-behavior: smooth;
}

body b {
    color: #08755B;
    font-weight: bold;
}
body{
    background: #F9F9F9;
}

strong {
    font-weight: bold;
}

/* coloca visibility hidden, pra poder utilizar pelo scrool reveals */

.texto-home, .paragrafo-home{
    visibility: hidden;
}

.container__começar{
    visibility: hidden;
}

/* .item-vantagens{
    visibility: hidden;
} */

.perfil__{
    visibility: hidden;
}

* {
    line-height: 144%;
}
