@media only screen and (min-width: 0px){

    .conteiner__perfil__investidor{
        width: 100%;
        margin-top: 30px;
        padding: 0 30px;
    }

    .conteiner__perfil__investidor h2{
        font-size: 1em;
        font-family: var(--press);
        color: #063305;
        margin: 0;
        text-align: center;
        list-style: none;
        line-height: 20px;
    }

    

    .perfil__investidor{
        width: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .perfil__investidor__caixa{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
    }

    .perfil__investidor__caixa h3{
        font-family: 'Poppins' , sans-serif;
<<<<<<< HEAD
        font-weight: 700;
        font-style: normal;
        font-size: 1em;
        line-height: 20px;
        color: #2C9030;
        text-align: start;
        padding: 5px;
=======
        font-weight: bold;
        font-style: normal;
        font-size: 1.25em;
        line-height: 20px;
        color: #2C9030;
        text-align: start;
        padding: 5px 0px;
>>>>>>> 2fbc9b05075a2ace398926893fe610e1c77bc3e4
    }

    .perfil__investidor__caixa strong{
        color: #2C9030;
    }

    .perfil__investidor__imagem__1{
        width: 120px;
        height: 122px;
<<<<<<< HEAD
        padding-top: 25px;
=======
        align-self: center;

        margin-bottom: -50px;
>>>>>>> 2fbc9b05075a2ace398926893fe610e1c77bc3e4
        
    }
    .perfil__investidor__imagem__2{
        width: 101px;
        height: 102px;
<<<<<<< HEAD
        padding-top: 25px;
    }
    .perfil__investidor__caixa p{
        font-size: 0.8em;
        padding-top: 1em;

        font-family: var(--poppins);
        font-weight: 400;
        line-height: 32px;
=======
    }
    .perfil__investidor__caixa p{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        line-height: 20px;
        font-size: 1.2rem;
        padding-top: 1rem;

        text-align: justify;
>>>>>>> 2fbc9b05075a2ace398926893fe610e1c77bc3e4
    }
}

@media only screen and (min-width: 770px){
    .conteiner__perfil__investidor h2{
        font-size: 1.1em;
        margin-bottom: 30px;
    }

    .perfil__investidor__caixa{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .perfil__investidor__imagem__1{
        width: 100%;
        height: 250px; 
        padding: 0;
    }

    .perfil__investidor__imagem__2{
        width: 100%;
        height: 250px;
        padding: 0;
    }
    .perfil__{
        width: 100%;
        display: flex;

        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    .perfil__investidor__caixa p{
<<<<<<< HEAD
=======
        font-family: 'Poppins', sans-serif;
>>>>>>> 2fbc9b05075a2ace398926893fe610e1c77bc3e4
        font-size: 1.1em;
        padding-top: 1em;
        
    }

}

@media only screen and (min-width: 1024px){
    .conteiner__perfil__investidor h2{
        font-size: 1.5em;
        margin-bottom: 30px;
    }
    .perfil__investidor__caixa{
<<<<<<< HEAD
        padding: 20px 100px 0 100px;
    }

    .perfil__investidor__caixa h3{
        font-size: 1.3em;
    }

    .perfil__investidor__caixa p{
        font-size: 1.2em;
        padding-top: 1em;
    }
=======
        width: 100%;
        padding: 20px 100px 0 100px;
        gap: 1rem;
        
    }
    .perfil__{
        width: 35%;
    }

    .perfil__investidor__caixa h3{
        font-size: 1.4em;
        line-height: 32px;
    }

    .perfil__investidor__caixa p{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        line-height: 32px;
        padding-top: 1em;
    }
    .perfil__investidor__imagem__1{
        width: 20rem;
        height: 25rem;
        margin-bottom: -100px;
    }

    .perfil__investidor__imagem__2{
        width: 232px;
        height: 290px;
    }
>>>>>>> 2fbc9b05075a2ace398926893fe610e1c77bc3e4

    .perfil__troca{
        flex-direction: row-reverse;
    }
<<<<<<< HEAD

    .perfil__{
        padding: 50px;
    }
=======
>>>>>>> 2fbc9b05075a2ace398926893fe610e1c77bc3e4
}

