body{
    background: #B7D1C6;
}

html {
    scroll-behavior: smooth;
}


/* Animação com Scroll */

[data-anime] {
    opacity: 0;
    transition: .3s;
  }
  
  [data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
  }
  
  [data-anime="right"] {
    transform: translate3d(50px, 0, 0);
  }
  
  [data-anime="top"] {
    transform: translate3d(0, -50px, 0);
  }
  [data-anime="bottom"] {
    transform: translate3d(0, 50px, 0);
  }
  
  [data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  } 