@media only screen and (min-width: 0px){

    .conteiner__perfil__investidor{
        width: 100%;
        margin-top: 30px;
        padding: 0 30px;
    }

    .conteiner__perfil__investidor h2{
        font-size: 1em;
        color: black;
        margin: 0;
    }

    

    .perfil__investidor{
        width: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .perfil__investidor__caixa{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 20px 0px;
    }

    .perfil__investidor__caixa h3{
        font-family: 'Poppins' , sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1em;
        line-height: 20px;
        color: #2C9030;
        text-align: start;
        padding: 5px;
    }

    .perfil__investidor__caixa strong{
        color: #2C9030;
    }

    .perfil__investidor__imagem__1{
        width: 120px;
        height: 122px;
        padding-top: 25px;
        
    }
    .perfil__investidor__imagem__2{
        width: 101px;
        height: 102px;
        padding-top: 25px;
    }
    .perfil__investidor__caixa p{
        font-size: 1em;
        padding-top: 1em;
    }
}

@media only screen and (min-width: 770px){
    .conteiner__perfil__investidor h2{
        font-size: 1.1em;
        margin-bottom: 30px;
    }

    .perfil__investidor__caixa{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .perfil__investidor__imagem__1{
        width: 100%;
        height: 250px; 
        padding: 0;
    }

    .perfil__investidor__imagem__2{
        width: 100%;
        height: 250px;
        padding: 0;
    }
    .perfil__{
        width: 100%;
        display: flex;

        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    .perfil__investidor__caixa p{
        font-size: 1.1em;
        padding-top: 1em;
        
    }

}

@media only screen and (min-width: 1024px){
    .conteiner__perfil__investidor h2{
        font-size: 1.5em;
        margin-bottom: 30px;
    }
    .perfil__investidor__caixa{
        padding: 20px 100px 0 100px;
    }

    .perfil__investidor__caixa h3{
        font-size: 1.3em;
    }

    .perfil__investidor__caixa p{
        font-size: 1.2em;
        padding-top: 1em;
    }
}
/* .descricao{
    width: 60%;
    margin: 1em auto;
}


.flex-perfil{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 1em;
}

.flex-perfil > img{
    width: 50%;
    max-width: 450px;
}

.texto-perfil{
    width :50%;
    margin-bottom: 5em;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.reverse{
    flex-direction: row;
}

@media only screen and (max-width: 810px) {
    .flex-perfil{
        flex-direction: column-reverse;
    }

    .flex-perfil > img{
        width: 100%;
    }

    .texto-perfil{
        width: 100%;
    }

  } */
