.meios-investimento{
    width: 60%;
}

.meios-investimento > h3{
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    margin: 3em 0;
}

@media only screen and (max-width: 810px) {
    .meios-investimento{
        width: 80%;
    }
  }