html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.container__index{
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.content__index{
    display: flex;
    flex-direction: column;
}

.button__container{
    display: flex;
    justify-content: center;
}

.button__container button{
    padding: 7px 90px 7px 90px;
    border-radius: 20px;
    border: none;
    margin: 20px;
    background-color: #4E948E;

    cursor: pointer;
    transition: 1s;
}
.button__container button:hover{
    background-color: #87e7df;
    transform: translateY(-5px);
}
.button__container button:nth-child(1){
    background-color: #F6B43A;
    transition: 2s;
}

.button__container button:nth-child(1):hover{
    background-color: #e09a18;
    
}

.content__index__principal{
    max-width: 1013px;
}
h1{
    text-align: center;
    font-weight: 400;
    font-family:'Press Start 2P', cursive;
    font-size: 3.5rem;
    line-height: 43.2px;
    color: black;
}

.button__container button a{
    font-weight: 600;
    font-style: none;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #ffffff;
}

