@media only screen and (min-width: 0px){
    #Vantagens{
        margin-bottom: 5em;
    }
    #Vantagens h2{
        margin: 0;

        font-size: 1em;
        text-align: center;
        font-family: var(--press);
        color: #063305;
        margin-bottom: 32px;
    }

    .item-vantagens{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 2px black;
        height: 300px;
        padding: 1em;
        justify-content: center;
        text-align: center;
        border-radius: 25px;
    }
    .item-vantagens > img{
        width: 100%;
        max-width: 200px;
        max-height: 200px;
    }
    
    .flex-vantagens{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 2em;
    }

    .item-vantagens{
        width: 60%;
    }

    .item-vantagens p{
        font-size: 0.8em;
        line-height: 17px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;

        padding: 5px;
    }

    .item-vantagens strong{
        font-size: 1.6em;
        line-height: 12px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;

    }
}

@media only screen and (min-width: 770px){

    .descricao{
        margin: 0;
        width: 100%;
    }
    #Vantagens h2{
        font-size: 1.1em;
    }
    .item-vantagens{
        width: 100%;
    }
    .flex-vantagens{
        flex-direction: row;
        gap: 2em;
        padding: 50px;
    }
}

@media only screen and ( min-width: 1024px){
    #Vantagens h2{
        font-size: 1.5em;
    }
    .item-vantagens{
        width: 30%;
        height: 350px;
    }
    .flex-vantagens{
        justify-content: center;
        flex-direction: row;
        gap: 2em;
        padding: 50px;
    }

    .item-vantagens p{
        font-size: 1em;
        line-height: 31px;
        padding: 10px;
       
    }

    .item-vantagens strong{
        font-size: 1.3em;
        
    }
}

