@media only screen and (min-width: 0px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .main-header{
        height: 30px;
        width: 100vw;

        background-color: #020202;
        color: white;

        display: flex;
        justify-content: space-between;
        position: fixed;
    }
    .header-main > img{
        width: 115px;
        height: 19.81px;
    }

    .header-main{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__nav{
        overflow: hidden;
        background-color: #020202;
        position: absolute;
        top: 30px;
        right: 0;
    }

    #nav-bar{
        display: none;
    }

    .header__Botao__Burguer{
        border: none;
        background-color: #020202;
        position: absolute;
        right: 0;
    }

    .header__Botao__Burguer img{
        width: 20px;
        border: none;
    }

    .header__nav a {
        font-family: var(--poppins);
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .header__nav .header__Botao__Burguer{
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

}

@media only screen and (min-width: 744px){
    
}


@media only screen and (min-width: 1024px) {
    .header-main{
        width: 100%;
        justify-content: space-between;

        padding: 0px 100px;
    }
    .main-header{
        height: 70.45px;
    }

    .header-main > img{
        width: 175px;
        height: 53.171px;
    }

    .header__nav{
        position: initial;
    }

    #nav-bar{
        display: block;
        
    }
    .header__Botao__Burguer{
        display: none;
    }

    .nav-ul li{
        display: inline-block;
    }
  }