*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F0F0F0;
    font-family: 'Inter', sans-serif;

}

h2{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #207624;
    font-size: 26px;
    margin-top: 10em;
    margin-bottom: 4em;
}

.nav-ul{
    display: flex;
    gap : 4em;
}

.nav-ul > li{
    list-style: none;
}

.nav-li{
    text-decoration: none;
    color: white;
}

.container{
    width: 85%;
    margin: 0 auto;
    max-width: 2100px;
}