@media only screen and (min-width: 0px){
    .container__começar{
<<<<<<< HEAD
        width: 100vw;
=======
        width: 100%;
>>>>>>> 2fbc9b05075a2ace398926893fe610e1c77bc3e4
        margin: 0;
        padding: 30px 30px 0 30px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .content__comecar__titulo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 20px 20px 20px;
    }
<<<<<<< HEAD
    .content__comecar__titulo h2{
=======
    .comecar__titulo__inicio, .comecar__titulo__fim{
>>>>>>> 2fbc9b05075a2ace398926893fe610e1c77bc3e4
        margin: 0;
        padding: 30px 0 0 15px;
        font-size: 1em;
        line-height: 32px;
        display: block;
        align-self: flex-start;
        text-align: start;

        font-family: var(--press);
        font-weight: 400;
        color: #063305;
    }
    .content__comecar__titulo > img{
        width: 76px;
        height: 106px;
    }
    
    .content__comecar__paragrafos{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        padding: 0 30px;

        margin-bottom: 82px;
    }
    
    .content__comecar__paragrafos p{
        text-align: justify;
        line-height: 20px;
        font-size: 0.8em;
        font-weight: 400;
        font-family: var(--montSerrat);
        font-style: normal;
        color: var(----preto);
    }
<<<<<<< HEAD
=======

    .content__comecar__paragrafos strong{
        font-weight: 700;
    }
    .comecar__titulo__fim{
        display: none;
    }
>>>>>>> 2fbc9b05075a2ace398926893fe610e1c77bc3e4
}

@media only screen and (min-width: 744px){
    .content__comecar__titulo{
        justify-content: space-around;
        padding: 50px;
    }
<<<<<<< HEAD
    .content__comecar__titulo h2{
        font-size: 1.5em;
        text-align: center;
        padding: 0;
=======
    .comecar__titulo__inicio, .comecar__titulo__fim{
        font-size: 1.5em;
        /* text-align: center; */
        padding: 0px 0px 0px 20px;
>>>>>>> 2fbc9b05075a2ace398926893fe610e1c77bc3e4
        align-self: center;
    }

    .content__comecar__titulo > img{
        width: 13em;
        height: 11em;
    }
    
    .content__comecar__paragrafos p{
        font-size: 1em;
        line-height: 25px;
    }

}

@media only screen and (min-width: 1024px){
<<<<<<< HEAD
    .content__comecar__titulo{
        width: 100%;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 0px;
    }

    .content__comecar__titulo h2{
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .container__começar{
        flex-direction: row;
    }

    .container__começar h2{
        font-size: 1.7em;
    }
    .content__comecar__titulo > img {
        width: 15em;
        height: 15em;
    }

    .content__comecar__paragrafos{
        flex-direction: column;
        padding: 0px;
=======
    .container__começar{
        flex-direction: row;
        justify-content: center;

        margin: 116px 0px;
    }
    .content__comecar__titulo{
        flex-direction: column-reverse;
        justify-content: space-between;

        width: 30%;
        padding: 0px;
    }
    .content__comecar__titulo > img {
        width: 22em;
        height: 22em;
    }

    .content__comecar__paragrafos{
        width: 40%;
        flex-direction: column;
        padding: 0px 50px;
        gap: 3rem;
>>>>>>> 2fbc9b05075a2ace398926893fe610e1c77bc3e4
    }

    .content__comecar__paragrafos p{
        font-size: 1.2em;
        line-height: 30px;
<<<<<<< HEAD
        margin: 0px 50px;
=======
        margin: 0px;
        text-align: start;
    }

    .comecar__titulo__fim{
        display: block;
        font-size: 1.6rem;
        padding: 0px;
        align-self: start;

    }

    .comecar__titulo__inicio{
        display: none;
>>>>>>> 2fbc9b05075a2ace398926893fe610e1c77bc3e4
    }

}

