@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Press+Start+2P&display=swap');

body {
    background-color: #6FB272;
}

@media only screen and (min-width: 0px) {
    
    #container {
        width: 250px;
        height: 450px;
        margin: 100px auto;
        padding: 10px 25px 40px 10px;
        border-radius: 23px;
        background-color: white;
        color: black;
        box-shadow: 4px 4px 4px #888;
    }

    #icon-question {
        background-image: url(question.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 60px;
            margin: 10px;
    }

    h1 {
        text-align: center;
        font-family: 'Press Start 2P', cursive;
        font-size: 10px;
        line-height: 150%;
        text-transform: uppercase;
        margin:10px;
    }

    li {
        margin: 21px 15px;
        text-align: justify;
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        line-height: 17px;
    }
    
    input[type="radio" i] {
        margin: 3px 20px 0px 5px;
    }

    #quiz {
        display: none;
        display: flex;
        flex-direction: column-reverse;
    }

    .button {
        border-radius: 10px;
        width: 18px;
        padding: 15px;
        position: relative;
        float: right;
        background-color: #DCDCDC;
        margin-right: 2px;
    
        text-align: center;
        font-family: 'Press Start 2P', cursive;
    }

    button {
        position: relative;
        float: right;
    }
    
    .button a {
        font-size: 15px;
        text-decoration: none;
        color: black;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .button.active {
        background-color: #F8F8FF;
        color: #525252;
    }

    #prev {
        display:none;
    }
    
    #start {
        display:none;
        width: 90px;
    }

}

@media only screen and (min-width: 744px){
    #container {
        width: 422px;
        height: 645px;
        margin: 20px auto;

    }

    #icon-question {
        height: 80px;
        margin: 20px;
    }

    h1 {
        font-size: 17px;
        margin: 20px 10px 30px 10px;
    }

    li {
        margin: 40px;
        text-align: justify;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        line-height: 150%;
    }

    .button {
        border-radius: 10px;
        width: 45px;
        padding: 10px;
    }

    .button a {
        font-size: 20px;
    }

}

@media only screen and (min-width: 1024px){

    #container {
        width: 322px;
        height: 510px;
        margin: 50px auto;
        padding: 10px 25px 40px 10px;
    }

    #icon-question {
        height: 60px;
        margin: 15px;
    }

    h1 {
        font-size: 14px;
        margin: 10px 10px 30px 10px;
    }

    li {
        margin: 30px;
        font-size: 15px;

    }

    .button {
        border-radius: 6px;
        width: 30px;
        padding: 8px;

    }

    .button a {
        font-size: 15px;
    }

}



